@model HomeViewModel

<partial name="_Carousel" />

<h2>Parts On Sale</h2>

<div class="row">

    @foreach(var part in Model.PartsOnSale) 
    { 
        <partial name="_partCard" model="part" />
    }

</div>