@model AutoPartsStore.ViewModels.PartListViewModel


<h1>@Model.CurrentCategory</h1>
@foreach (var part in Model.Parts)
{
    <div>
        <h2>@part.Name</h2>
        <h3>@part.Price.ToString("c")</h3>
        <h4>@part.Category.CategoryName</h4>
    </div>
}
